:root {
    --blue-clr: #4476f8;
    --light-blue-clr: #7da0fa;
    --sand-clr: #f8c644;
    --light-sand-clr: #fad77d;
    --red-clr: #f86c44;
    --light-red-clr: #fa997d;
    --green-clr: #44f86c;
    --light-green-clr: #7dfa99;
    --magenta-clr: #f648b0;
    --light-magenta-clr: #f980c8;
    --white-clr: #fff;
    --black-clr: #000;
}

body {
    margin: 0;
    overflow-y: hidden;
    background: #e7ebf0;
}

.selected {
    padding: 1rem;
}

.selected__clr {
    width: 3rem;
    height: 3rem;
    /* border: 2px solid #666; */
    border-radius: 50%;
    background: #fff;
}

.picture {
    text-align: center;
    padding-top: 3rem;
}

/*  #8c9cad  #2d363f #bcd2e7 #295b90 #4d5c6c; */

.menu {
    border: solid 2px rgba(77, 92, 108, 0.4);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /* background: #dae1e9; */
    background: rgb(240, 239, 243);
    box-sizing: border-box;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: transform .5s ease-in-out; 
}

.menu__icon {
    text-align: center;
    padding: .25rem;
}

.menu__icon--active {
    transform: rotate(180deg);
}

.menu__icon svg {
    height: 2.5rem;
    width: 2.5rem;
    fill: #4d5c6c;
    opacity: 0.6;
}

.menu__colors {
    height: 40vh;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: .35rem;
}

.colors__select {
    /* border: solid 2px #6f7e8d; */
    width: auto;
    height: auto;
}

@media only screen and (min-width: 1000px) {
    
    .main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 95%;
        margin: 0 0 0 auto;
    }

    .selected,
    .picture {
        padding-top: 4vh;
    }

    .svg-picture {
        height: 80vh;
        width: 80vh;
        cursor: pointer;
    }

    .menu {
        position: relative;
        transition: none;
        width: 25vw;
        cursor: pointer;
        border-top-left-radius: 0;
        border-top-right-radius: 0; 
        padding: 4vh 1rem;
        height: 100vh;
        /* border-bottom-left-radius: 0;
        border-bottom-right-radius: 0; */
        /* height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end; */
        background: rgb(240, 239, 243);
        box-sizing: border-box;
        /* -webkit-box-shadow: inset -2px 0 12px 5px rgba(77, 92, 108, 0.4); 
        box-shadow: inset -2px 0 12px 5px rgba(77, 92, 108, 0.4); */
        -webkit-box-shadow: inset 8px 1px 12px -1px rgba(77, 92, 108, 0.3); 
        box-shadow: inset 8px 1px 12px -1px rgba(77, 92, 108, 0.3); 
        border: none;
    }

    .menu__icon {
        display: none;
    }

    .menu__colors {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .colors__select:hover {
        transform: scale(1.02);
        filter: saturate(1.3);
    }
}
